wget https://files.grouplens.org/datasets/movielens/ml-latest-small.zip

unzip ml-latest-small.zip

hdfs dfs -mkdir -p /bronze-set/movies

hdfs dfs -mkdir -p /bronze-set/ratings

hdfs dfs -ls /bronze-set

In [ ]:
cd ml-latest-small

ls

hdfs dfs -put movies.csv /bronze-set/movies/

hdfs dfs -put ratings.csv /bronze-set/ratings/

hdfs dfs -ls /bronze-set
hdfs dfs -ls /bronze-set/movies
hdfs dfs -ls /bronze-set/ratings

hdfs dfs -du -h /bronze-set

hdfs dfs -cat /bronze-set/movies/movies.csv | head

hive

SHOW DATABASES;


SELECT current_database();

SHOW TABLES;

CREATE DATABASE IF NOT EXISTS movielens_set;

SHOW DATABASES;

USE movielens_set;

SELECT current_database();

CREATE EXTERNAL TABLE IF NOT EXISTS movies_raw (
  movieId INT,
  title STRING,
  genres STRING
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
  "separatorChar" = ",",
  "quoteChar"     = "\"",
  "escapeChar"    = "\\"
)
STORED AS TEXTFILE
LOCATION '/bronze-set/movies';

SELECT * FROM movies_raw LIMIT 5;

SELECT movieId, title
FROM movies_raw
WHERE genres LIKE '%Comedy%'
LIMIT 10

-cat  hdfs dfs -ls /user/hive/warehouse/company.db/emp_managed

insert into table emp_managed values('JPS','Data Engineer' , 3500000)

hdfs dfs -cat  /user/hive/warehouse/company.db/emp_part