In [4]:
import pandas as pd
print(pd.__version__)

3.0.0

In [6]:
data = pd.read_csv('top_rated_movies.csv')

In [15]:
data

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.2333,8.715,29566
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.8438,8.686,22328
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.5095,8.570,13501
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.6770,8.600,17015
4,4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.9954,8.600,9676
...,...,...,...,...,...,...,...,...
18515,18515,531949,Father of the Year,"Two college grads return to their hometown, wh...",2018-07-20,0.7975,5.418,487
18516,18516,37931,MacGruber,Ex-special operative MacGruber is called back ...,2010-05-21,4.9437,5.400,588
18517,18517,340677,I.T.,"Mike Regan is a successful, self-made man who ...",2016-09-09,1.9516,5.400,669
18518,18518,10160,A Nightmare on Elm Street: The Dream Child,The pregnant Alice finds Freddy Krueger striki...,1989-08-11,2.8901,5.417,1386
18519,18519,11425,"Honey, We Shrunk Ourselves",The joke's on absent-minded scientist Wayne Sz...,1997-07-01,1.5512,5.416,714

In [19]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 18520 entries, 0 to 18519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18520 non-null  int64
 1   id            18520 non-null  int64
 2   title         18520 non-null  str
 3   overview      18518 non-null  str
 4   release_date  18516 non-null  str
 5   popularity    18520 non-null  float64
 6   vote_average  18520 non-null  float64
 7   vote_count    18520 non-null  int64
dtypes: float64(2), int64(3), str(3)
memory usage: 1.1 MB

In [21]:
data.dtypes

Unnamed: 0        int64
id                int64
title               str
overview            str
release_date        str
popularity      float64
vote_average    float64
vote_count        int64
dtype: object

In [23]:
data.describe()

         Unnamed: 0            id    popularity  vote_average    vote_count
count  18520.000000  1.852000e+04  18520.000000  18520.000000  18520.000000
mean    9259.500000  2.239016e+05      4.216869      6.802412   2148.693143
std     5346.407828  2.980745e+05      8.833169      0.623615   3402.029522
min        0.000000  2.000000e+00      0.003100      5.400000    300.000000
25%     4629.750000  1.020700e+04      1.818400      6.319750    480.000000
50%     9259.500000  3.910800e+04      2.907100      6.781500    893.000000
75%    13889.250000  4.036050e+05      4.888125      7.254000   2168.250000
max    18519.000000  1.472638e+06    567.760800      8.715000  38665.000000

In [22]:
data['title']

0                          The Shawshank Redemption
1                                     The Godfather
2                             The Godfather Part II
3                                  Schindler's List
4                                      12 Angry Men
                            ...
18515                            Father of the Year
18516                                     MacGruber
18517                                          I.T.
18518    A Nightmare on Elm Street: The Dream Child
18519                    Honey, We Shrunk Ourselves
Name: title, Length: 18520, dtype: str

In [13]:
data[['title','overview']]

,title,overview
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
2,The Godfather Part II,In the continuing saga of the Corleone crime f...
3,Schindler's List,The true story of how businessman Oskar Schind...
4,12 Angry Men,The defense and the prosecution have rested an...
...,...,...
18515,Father of the Year,"Two college grads return to their hometown, wh..."
18516,MacGruber,Ex-special operative MacGruber is called back ...
18517,I.T.,"Mike Regan is a successful, self-made man who ..."
18518,A Nightmare on Elm Street: The Dream Child,The pregnant Alice finds Freddy Krueger striki...
18519,"Honey, We Shrunk Ourselves",The joke's on absent-minded scientist Wayne Sz...

Data Engineering focuses on building pipelines to collect , transforman and store data
Used in :
    Analytics
    AI System
    Business Dashboard


Dataset is decnormalized table.

In [ ]:
# filtering of the data 
data[(data['vote_count'] > 30000)]

data[(data['vote_count'] > 30000) & (data['vote_average'] > 2)]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
6,6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,23.4095,8.500,35022
14,14,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,47.6228,8.500,38665
20,20,550,Fight Club,A ticking-time-bomb insomniac and a slippery s...,1999-10-15,27.0167,8.400,31285
41,41,27205,Inception,"Cobb, a skilled thief who commits corporate es...",2010-07-15,27.1844,8.400,38531
94,94,299536,Avengers: Infinity War,As the Avengers and their allies have continue...,2018-04-25,28.0410,8.200,31363
400,400,24428,The Avengers,When an unexpected enemy emerges and threatens...,2012-04-25,72.9487,7.914,35253
969,969,293660,Deadpool,The origin story of former Special Forces oper...,2016-02-09,12.4603,7.623,32256
1032,1032,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-16,51.8871,7.600,33298
8566,8566,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,23.4095,8.500,35022
8574,8574,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,47.6228,8.500,38665
8580,8580,550,Fight Club,A ticking-time-bomb insomniac and a slippery s...,1999-10-15,27.0167,8.400,31285
8601,8601,27205,Inception,"Cobb, a skilled thief who commits corporate es...",2010-07-15,27.1844,8.400,38531
8654,8654,299536,Avengers: Infinity War,As the Avengers and their allies have continue...,2018-04-25,28.0410,8.200,31363
8960,8960,24428,The Avengers,When an unexpected enemy emerges and threatens...,2012-04-25,72.9487,7.914,35253
9529,9529,293660,Deadpool,The origin story of former Special Forces oper...,2016-02-09,12.4603,7.623,32256
9592,9592,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-16,51.8871,7.600,33298

In [ ]:
#  other way  creating a mask 
mask = data['vote_count'] > 3000
data[mask]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.2333,8.715,29566
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.8438,8.686,22328
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.5095,8.570,13501
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.6770,8.600,17015
4,4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.9954,8.600,9676
...,...,...,...,...,...,...,...,...
18403,18403,9471,Charlie's Angels: Full Throttle,The Angels are charged with finding a pair of ...,2003-06-25,4.7507,5.487,3212
18452,18452,76757,Jupiter Ascending,In a universe where human genetic material is ...,2015-02-04,6.4794,5.457,6982
18461,18461,414,Batman Forever,Batman faces off against two foes: the schizop...,1995-06-16,4.7225,5.452,5458
18490,18490,121856,Assassin's Creed,Through a technology that unlocks the genetic ...,2016-12-21,2.6411,5.430,8004
18491,18491,96936,The Bling Ring,"Inspired by actual events, a group of fame-obs...",2013-06-12,2.8099,5.430,3110

In [29]:
# create a new column

data['avg_cnt'] = data['vote_count']*data['vote_average']

If more null values 
dont remove them from the dataframe

In [32]:
# Sorting the data 

data.sort_values('vote_average',ascending=False)

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count,avg_cnt
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.2333,8.715,29566,257667.690
8560,8560,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.2333,8.715,29566,257667.690
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.8438,8.686,22328,193941.008
8561,8561,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.8438,8.686,22328,193941.008
4,4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.9954,8.600,9676,83213.600
...,...,...,...,...,...,...,...,...,...
18483,18483,505063,Await Further Instructions,A dysfunctional family awake on Christmas morn...,2018-08-26,0.8446,5.400,300,1620.000
18493,18493,530081,The Man Who Killed Hitler and Then the Bigfoot,Decades after serving in WWII and assassinatin...,2019-02-08,1.3104,5.400,468,2527.200
18497,18497,10658,Howard the Duck,A scientific experiment unknowingly brings ext...,1986-08-01,2.8811,5.400,1085,5859.000
18499,18499,8944,What Just Happened,During the course of an ordinary week in Holly...,2008-10-17,1.3209,5.400,466,2516.400
18476,18476,362826,Wildling,A young woman held in captivity discovers the ...,2018-04-13,1.8299,5.400,381,2057.400

In [36]:
#  use of group by 
data.groupby('release_date').size()

release_date
1902-06-15    2
1903-12-07    2
1915-03-08    1
1916-09-04    2
1917-06-17    2
             ..
2025-12-03    2
2025-12-17    2
2025-12-18    2
2025-12-25    2
2026-01-13    2
Length: 6232, dtype: int64

In [37]:
data.isnull().sum()

Unnamed: 0      0
id              0
title           0
overview        2
release_date    4
popularity      0
vote_average    0
vote_count      0
avg_cnt         0
dtype: int64

In [38]:
data.dropna(inplace=True)

In [39]:
data.isnull().sum()

Unnamed: 0      0
id              0
title           0
overview        0
release_date    0
popularity      0
vote_average    0
vote_count      0
avg_cnt         0
dtype: int64

In [40]:
data.to_csv('processed_data.csv')

In [ ]:
data.drop_duplicates(keep='first',inplace=True)

In [ ]:
# x = data.sort_values('vote_average',ascending=False)

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count,avg_cnt
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.2333,8.715,29566,257667.690
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.8438,8.686,22328,193941.008
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.5095,8.570,13501,115703.570
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.6770,8.600,17015,146329.000
4,4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.9954,8.600,9676,83213.600
...,...,...,...,...,...,...,...,...,...
18515,18515,531949,Father of the Year,"Two college grads return to their hometown, wh...",2018-07-20,0.7975,5.418,487,2638.566
18516,18516,37931,MacGruber,Ex-special operative MacGruber is called back ...,2010-05-21,4.9437,5.400,588,3175.200
18517,18517,340677,I.T.,"Mike Regan is a successful, self-made man who ...",2016-09-09,1.9516,5.400,669,3612.600
18518,18518,10160,A Nightmare on Elm Street: The Dream Child,The pregnant Alice finds Freddy Krueger striki...,1989-08-11,2.8901,5.417,1386,7507.962
18519,18519,11425,"Honey, We Shrunk Ourselves",The joke's on absent-minded scientist Wayne Sz...,1997-07-01,1.5512,5.416,714,3867.024

In [ ]:
# x.head(6)

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count,avg_cnt
0,0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.2333,8.715,29566,257667.690
8560,8560,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,32.2333,8.715,29566,257667.690
1,1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.8438,8.686,22328,193941.008
8561,8561,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.8438,8.686,22328,193941.008
4,4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.9954,8.600,9676,83213.600
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.6770,8.600,17015,146329.000