In [46]:
import csv
import os
import pandas as pd;

file = "student_data.csv"
subjects = ["English","Math","Science","History","Biology"]
def write_to_csv(name,age,standard,marks):
    file_exists = os.path.isfile(file)

    with open(file,"a",newline='') as f:
        wirter = csv.writer(f)

        if not file_exists:
            wirter.writerow(["name","age","standard"]+subjects)

        wirter.writerow([name,age,standard]+marks)
def update_student_record():
    df = pd.read_csv(file)
    pass_marks = 40
    fail_count = {}

    for sub in subjects:
        fail_count[sub] = (df[sub] < pass_marks).sum()

    failed_file = "subject_record.csv"

    with open (failed_file,"w") as f:
        for sub,count in fail_count.items():
            f.write(f"{sub} : {count} failed students.\n")
    print("---------- Student_Record Updated Sucessfully ----------")
def do_etl_on_csv():
    df = pd.read_csv(file)

    df['Total'] = df[subjects].sum(axis=1)
    df['Percentage'] = (df['Total']/len(subjects))
    for sub in subjects:
        df[sub + "_Result"] = df[sub].apply(lambda x: "Pass" if x >= 40 else "Fail")
    
    records = []

    df = pd.read_csv(file)
pass_marks = 40
df['Total'] = df[subjects].sum(axis=1)
df['Percentage'] = (df['Total']/len(subjects))*100
for sub in subjects:
    df[sub + "_Result"] = df[sub].apply(lambda x: "Pass" if x >= 40 else "Fail")
records = []

for standard in df["standard"].unique():
    class_data = df[df["standard"] == standard]
    
    for sub in subjects:
        passed = (class_data[sub] >= pass_marks).sum() 
        failed = (class_data[sub] < pass_marks).sum()

        records.append([standard,sub,passed,failed])

result_df = pd.DataFrame(records,columns=["standard","subject","pass","fail"])
print(result_df)

result_df.to_csv("standard_wise_pass_fail")
print("Subject wise pass file updated sucessfully")


    
   
print("-_-_-_-_- Perfomed ETL Sucessfully -_-_-_-_-")
    

while True:
    choice = int(input("Enter the choice \n"
    "1 ==> Add the record\n"
    "2 ==> Perform ETL On the data\n"
    "3 ==> View the csv_file\n"
    "4 ==> View the result of the subjects"
    "5 ==> EXIT"))

    if choice == 1:

        name = input("Enter the name:")
        age = input("Enter the age:")
        standard = input("Enter the standard of the student:")
        marks = []
        for i in range(1,6):
            subject_marks = input(f"Enter the marks of {subjects[i-1]}")
            marks.append(subject_marks)
        
        write_to_csv(name,age,standard,marks)
        print("The data added sucessfully")
        
    elif choice == 2:
        do_etl_on_csv();
    elif choice == 3:
        with open(file,"r") as f:
            print("\n --------- STUDENT DATA ---------")
            print(f.read())
    
    elif choice == 4:
        print("The result from the file")
        with open("student_data.csv","r") as f:
            print(f.read())

        
    else:
        print("EXITING...........")
        break

   standard  subject  pass  fail
0         5  English     3     1
1         5     Math     3     1
2         5  Science     3     1
3         5  History     4     0
4         5  Biology     2     2
5         6  English     1     0
6         6     Math     0     1
7         6  Science     1     0
8         6  History     1     0
9         6  Biology     1     0
Subject wise pass file updated sucessfully
-_-_-_-_- Perfomed ETL Sucessfully -_-_-_-_-
The result from the file
name,age,standard,English,Math,Science,History,Biology
Priya,14,5,90,91,87,98,78
Joban,13,5,98,79,88,94,98
Sham,14,5,9,45,87,43,33
Gopal,14,5,60,34,33,79,39
Aditya,16,6,90,12,47,89,78

The data added sucessfully
EXITING...........

In [36]:
df = pd.read_csv(file)

In [37]:
df.head()

     name  age  standard  English  Math  Science  History  Biology
0   Priya   14         5       90    91       87       98       78
1   Joban   13         5       98    79       88       94       98
2    Sham   14         5        9    45       87       43       33
3   Gopal   14         5       60    34       33       79       39
4  Aditya   16         6       90    12       47       89       78

In [38]:
subjects = ["English","Math","Science",'History',"Biology"]

   standard  subject  pass  fail
0         5  English     3     1
1         5     Math     3     1
2         5  Science     3     1
3         5  History     4     0
4         5  Biology     2     2
5         6  English     1     0
6         6     Math     0     1
7         6  Science     1     0
8         6  History     1     0
9         6  Biology     1     0
Subject wise pass file updated sucessfully